/* universal page styles */
html, body {
    margin: 0;
    height: 100%;
    background-image: url("./images/pexels-pixabay-531972.jpg");
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    letter-spacing: 2px;
    font-family: 'Tajawal', sans-serif;
    color: #101013;
}
.card {
    opacity: 80%;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1em;
    max-width: fit-content;
}
h6 {
    padding-bottom: 15px;
}
uv-index {
    font-size: 8em;
}
 /* header styles */
.navbar {
    opacity: 90%;
    color: #FFF9F5;
    background-color: #5D80FF;
}
/* left nav styles */
.left-nav {
    float: left;
    background-color: rgba(246, 248, 255, 0.5);
}
.prev-cities-searched {
    margin-top: 20px;
}
.form-control {
    width: 85%!important;
}
.btn {
    width: 15%!important;
}
.error {
    background-color: red;
    color: white;
}
/* right styles */
.main-content {
    height: 100%;
    float: right;
}
.weather-img {
    width: 10%;
}
.city-forecast-today, .five-day-header, .five-day-forecast, .forecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forecast {
    margin: 0px 5px;
    width: 15%;
    min-width: fit-content;
}
.card-body {
    padding: 10px 15px;
}
.uv {
    display: inline-block;
    color: white;
    padding: 2px 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
}
.uv-low {
    background-color: green;
    
}
.uv-med {
    background-color: yellow;
    color: darkslategrey;
}
.uv-high {
    background-color: red;
}
h2.five-day-header {
    padding: 10px 0px;
}
/* medium screen */
@media (max-width: 1200px) {
    .prev-searched, h3, h6 {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    h6 {
        padding-bottom: 15px;
    }
    .prev-cities-searched {
        margin-top: 20px;
    }
    .form-control {
        width: 80%!important;
    }
    .btn {
        width: 20%!important;
    }
    .card-body {
        padding: 10px 15px;
    }
    .uv {
        padding: 2px 8px;
    }
    .weather-img-forecast {
        width: 90%;
    }
    h2.five-day-header {
        padding: 10px 0px;
    }
}
/* small screen */
@media (max-width: 850px) {
    .prev-searched, h3, h6 {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    h6 {
        padding-bottom: 15px;
    }
    .prev-cities-searched {
        margin-top: 20px;
    }
    .form-control {
        width: 75%!important;
    }
    .btn {
        width: 25%!important;
    }
    .forecast{
        flex-flow: row;
    }
    .card-body {
        padding: 10px 15px;
    }
    .uv {
        padding: 2px 8px;
    }
    .weather-img-forecast {
        width: 90%;
    }
    h2.five-day-header {
        padding: 10px 0px;
    }
}


